<div class="row  mb-3">
    <div class="col-md-12 backgroundImgForSearchingDiv p-4 pb-4 d-flex justify-content-center align-items-center flex-column" style="height: 300px">
        <form class="input-group w-50" method="post" action="">
            <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="basic-addon1">
            <button class="input-group-text" id="basic-addon1" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </button>
        </form>
    </div>
</div>

<div class="row mb-3" id="homeCarousel">
    <div class="col-md-12" >
        <div id="carouselExampleDark" class="carousel carousel-dark  slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="9000">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#f5f5f5"></rect></svg>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/200x300" alt="">
                            </div>
                            <div class="col-md-5">
                                <h5>Book title</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque, corporis ea excepturi exercitationem hic, maxime neque nobis officia, sunt totam. Doloribus esse facere illum neque optio vitae voluptas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="9000">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect></svg>

                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/200x300" alt="">
                            </div>
                            <div class="col-md-5">
                                <h5>Book title</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque, corporis ea excepturi exercitationem hic, maxime neque nobis officia, sunt totam. Doloribus esse facere illum neque optio vitae voluptas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="9000">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect></svg>

                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/200x300" alt="">
                            </div>
                            <div class="col-md-5">
                                <h5>Book title</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque, corporis ea excepturi exercitationem hic, maxime neque nobis officia, sunt totam. Doloribus esse facere illum neque optio vitae voluptas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="9000">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect></svg>

                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/200x300" alt="">
                            </div>
                            <div class="col-md-5">
                                <h5>Book title</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque, corporis ea excepturi exercitationem hic, maxime neque nobis officia, sunt totam. Doloribus esse facere illum neque optio vitae voluptas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e5e5e5"></rect></svg>

                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="http://via.placeholder.com/200x300" alt="">
                            </div>
                            <div class="col-md-5">
                                <h5>Book title</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque, corporis ea excepturi exercitationem hic, maxime neque nobis officia, sunt totam. Doloribus esse facere illum neque optio vitae voluptas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="row mb-3" id="latest">
    <h2>Latest</h2>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3" id="mostBorrowed">
    <h2>Most borrowed</h2>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="http://via.placeholder.com/100x150" class="card-img-top" alt="..." style="max-height: 234px; max-width: 166px">
            <div class="card-body">
                <p><strong>Title</strong></p>
                <p>Autors</p>
            </div>
        </div>
    </div>
</div>
